body {
    background-color: #fff;
    background-image: url("./assets/homeBg.png");
    background-size: cover;
    margin: 0;
    padding-top: 5em;
 }

 .vertLine {
   height: 2em;
   width: 2px;
   margin: 0 1.5em;
   background-color: white;
 }

 ::-webkit-scrollbar { 
   display: none; 
 }
  
 #header {
    position: fixed;
    top: 0;
    width: 98%;
    padding: 8px 16px;
    transition: background-color .3s linear, box-shadow .3s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
   }
 #header.solid {
   background-color: #2E5746;
   box-shadow: 0px 2px 4px rgba(10, 54, 27, 0.4);
 }
 #header h1 {
    color: white;
    font-size: 2.5em;
    margin: 0;
 }
  
 #header .icons {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
 }
 #header .icons img {
    width: 1.75em;
    height: 1.75em;
    cursor: pointer;
 }
 #header .icons button:not(.user) {
    width: 1.75em;
    height: 1.75em;
    cursor: pointer;
    background: transparent;
    background-image: url("./assets/buy.png");
    background-size: contain;
    border: none;
 }
 #header .icons div:not(.vertLine) {
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    margin: 0 1em;
    background-color: white;
 }
 #header .icons button.user {
    background-color: blueviolet;
    border: 0;
    padding: .25em 1em;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
 }

 #hDropdown {
   position: absolute;
   min-width: 10em;
   transition: opacity .25s linear;
   padding: .5em 0;
   /* min-height: 60px; */
   /* overflow: hidden; */
   background-color: #2d5041;
   border-radius: 0 0 10px 10px;
 }
 #hDropdown button {
   width: 100%;
   background-color: transparent;
   border: none;
   padding: 0.5em;
   font-size: 1em;
   color: white;
 }
 #hDropdown button:hover {
   background-color: #7B478D;
 }
 #hDropdown .btnFill {
   position: absolute;
   top: -3.5em;
    left: 0;
    right: 2px;
    margin: auto;
    height: 3.5em;
    width: 3em;
   background-color: #2d5041;
   z-index: -10;
   border-radius: 5px 5px 0 0;
 }

 .hidden {
   /* display: none; */
   opacity: 0;
   z-index: -10;
 }

 .title {
   padding: 0 10%;
 }
 .title h1 {
    font-size: 2.75em;
    color: #e5b185;
    margin: 0;
 }
 .title div {
    height: 5px;
    width: 12em;
    margin: .5em 0 2em 0;
    background-color: white;
 }
  
 .container1 {
    padding: 3em 10%;
    display: flex;
    justify-content: space-between;
 }
 .container1 .cropImg {
    min-width: 450px;
    min-height: 250px;
    max-height: 300px;
    overflow: hidden;
 }
 .container1 img {
    width: 1920px;
    height: 1080px;
    margin: -420px 0 0 -720px;
 }
 .container1 p {
    margin-top: 3em;
    padding: 0 0 0 5em;
    font-size: 1.15em;
    text-align: justify;
    color: white;
 }
  
 .container2, .container3 {
    width: 100%;
    /* height: 250px; */
    margin-bottom: 4em;
 }
  
 .card {
    background-image: url("assets/cardBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    /* height: 100%; */
    max-height: 20vw;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
  
 .cardHeader {
    position: relative;
    width: 20vw;
    height: 100%;
    max-height: 20vw;
    background-color: grey;
    float: left;
    overflow: hidden;
 }
  
 .card .cardContent {
    float: left;
    padding: 2em 1.5em;
 }
 .card .cardContent p{
    color: white;
    font-size: 1.5em;
 }
 .card .cardContent span{
    color: white;
    font-size: 1em;
 }
 .card .cardContent select {
    background-color: blueviolet;
    border: 0;
    padding: .25em 1em;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
 }
 .card .cardContent select option{
    background-color: rgb(75, 7, 66);
 }
 .card .cardContent .addButton {
    background-color: blueviolet;
    border: 0;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: .05em .25em;
 }
 
 .container2 .card .cardHeader img {
    width: 110%;
    margin-left: -10%;
    margin-top: -3%;
 }

 .container3 .card .cardHeader img {
   width: 100%;
   /* position: absolute;
   bottom: 0; */
 }
 
 .cardContent.content1 {
  
 }
  
 .cardContent.content2 {
  
 }
  
 .container4 {
    width: 100%;
    margin-bottom: 5em;
 }
 .container4 >div {
    width: 25%;
    background-image: url("assets/formsBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5% 3%;
    border-radius: 20px;
    margin: auto;
    /* display: flex;
    flex-wrap: column;
    flex-wrap: wrap; */
 }
 .container4 >div input {
    width: 100%;
    margin-bottom: 1.5em;
    max-height: 50px;
    font-size: 1.5em;
 }
 .container4 >div label {
   font-size: 1.25em;
   color: white;
 }
 .container4 >div button{
    width: 60%;
    margin-left: 40%;
    max-height: 50px;
    font-size: 1.5em;
    padding: .25em .5em;
 }
 